/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    font-size: 16px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/


.navbar {
    height: 80px;
    background-color: #fff;
}


.navbar-brand {
    padding-top:15px;
    min-width: 250px;
}

.nav ul {
    margin: 0px;
    padding: 0px;
}

.nav li {
    margin-top: 15px;
    padding-left: 10px;
}

.nav li a {
    font-weight: bold;
    color: #0F3F76;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.nav li a:hover {
    color: #00A8B5;
}

/* ---------------Banner-----------------------*/
.banner {
    min-height: 100%;
    min-width: 100%;
    background-image: url("../images/boat18.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.banner_div {
    text-align: center;
}

.banner_text {
    font-family: 'Lato', sans-serif;
    color: #fbfdff;
    background-color: rgba(15, 63, 118, 0.71);
    text-align: center;
    padding: 2em;
    margin: 0 5em;
    max-width: 75em;
}

.banner h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 20px;
}

.banner button {
    background-color: rgb(15, 63, 118);
    margin: 2em;
    width: 12em;
    height: 3em;
    border: none;
}

.banner button a {
    text-decoration: none;
    height: 20px;
    width: 50px;
    font-size: 20px;
    color: #fbfdff;
}

main{
    text-align: -moz-center;
}


/*ABOUT TEAM*/
main .about_team {
    margin: 2em;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}
.about_team .name {
    font-weight: bold;
    font-size: 1.6em;
    padding:1em 0em;
}
.about_team .proffesion{
    font-size: 1.4em;

}
.about_team .LinkedIn{
    padding-top: 1em;
}
.about_team img{
    max-width: 200px;
}

/* -----------------func---------------- */

.functions {
    background-color: #fff;
    color: #0F3F76;
    padding:30px 0px;
}

.functions-element {
    text-align: center;
    padding: 30px;
}

.functions-element span {
    font-size: 4rem;
    padding-bottom: 30px;
}

/*----------------------ADD INFO ABOUT PRODUCT-----------*/

section.add_info {
    background: #0F3F76;
    color: #fbfdff;
    justify-content: center;
    padding: 3rem 2rem 3rem 3rem;
}

section.add_info
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
    margin: 20px 0;
    display: block;
}

section.add_info span {
    font-size: 4rem;
    margin-right: 2rem;
}
@media screen and (max-width: 799px) {
    section.add_info,
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8 {
        margin-bottom: 10px;
    }
}

    /* -----------------Footer/form---------------- */

/*main {*/
    /*flex: 1 0 auto;*/
/*}*/

footer h2 {
    font-weight: bold;
    padding-bottom: 30px;
}

footer {
    width: 100%;
    font-family: Lato;
    border-top: 1px solid #0F3F76;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
    background-color: #0F3F76;
    color: white;
    width: 100%;
}

.footer_container div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    max-width: 25%;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    min-width: 100%;
    background-color: #BCBEC0;
    color: #0F3F76;
}

footer p {
    padding-bottom: 5px;
}

.stay_tuned li {
    display: inline-block;
    padding: 5px;
}

.contact_us li {
    padding-bottom: 3px;
}

footer input {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
}

footer button {
    height: 39px;
}
