/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-size: 10px;
    line-height: 1;
    flex-direction: column;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    font-size: 14px;
}

header,
nav,
a,
img,
li {
    transition: .7s all;
    -moz-transition: .7s all;
    -webkit-transition: .7s all;
    -o-transition: .7s all;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/


.navbar {
    /*height: 100px;*/
    background-color: #fff;
    position: fixed;
}

.navbar-header {
    /*height: 90px;*/
}

.navbar-brand {
    padding:1rem 0 0 3rem;
    min-width: 350px;

}

.navbar-nav {
    padding-top: 0.7rem;
    padding-right: 4rem;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #03A687;

}

.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #03A687;
}

.navbar-default .navbar-nav>li {
    margin-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.navbar-default .navbar-toggle {
    border-color: #03A687;
}


.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: #0F3F76;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    border: 2px solid transparent;

}

.navbar-default .navbar-nav>li>a:hover {
    color: #03A687;
    border: 2px solid #03A687;
    transition: 0.6s ease;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #03A687;
    background-color: transparent;
    border: 2px solid #03A687;
}

.large_nav {
    height: 100px;
}

.small_nav {
    height: 60px;
    opacity: 0.95;
}

.small_nav .navbar-nav {
    padding-top: 0;
}

.small_nav .navbar-nav li {
    margin-top: 0;
}

.small_nav .navbar-nav li a {
    margin-top:5px;
    font-size: 12px;
    padding: 10px;
}

.small_nav img{
    height: 45px;
    margin: -10px;
}


@media (max-width: 970px) {
    .navbar-brand {
        padding: 1rem 0;
        min-width: 250px;
    }

    .navbar-default .navbar-nav>li {
        padding: 5px 0px;
        margin-top: 0px;

    }

    .navbar-default .navbar-nav>li>a {

        font-size: 1em;

    }

    .navbar-nav {
        opacity: 0.9;
        padding-right: 0;
        text-align: center;
    }

}

/* ---------------Banner-----------------------*/

.carousel-inner .item img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

#carousel-generic button {
    background-color: rgb(15, 63, 118);
    margin: 1em;
    width: 12em;
    height: 3em;
    border: none;
}

#carousel-generic button a {
    text-decoration: none;
    height: 20px;
    width: 50px;
    font-size: 1.5em;
    color: #fbfdff;
}
.banner_text {
    font-family: 'Lato', sans-serif;
    color: #fbfdff;
    background-color: rgba(15, 63, 118, 0.71);
    text-align: center;
    padding: 2em;
    margin: 0 5em;
}

#carousel-generic h1 {
    font-size: 2.7em;
}

#carousel-generic p {
    font-size: 2em;
    margin-top: 0.8em;
}


@media screen and (max-width: 768px) {
    .carousel {
    height: 38em;
    }
    .banner_text {
        padding: 0.8em;
        margin: 0;
    }
    #carousel-generic h1 {
        font-size: 1.7em;
    }
    #carousel-generic p {
        font-size: 1em;
        margin-top: 0.5em;
    }
    carousel-generic button a {
        font-size: 1em;
    }
}


/*ABOUT TEAM*/
main .about_team {
    margin: 2em;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}
.about_team .name {
    font-weight: bold;
    font-size: 1.6em;
    padding:1em 0em;
}
.about_team .proffesion{
    font-size: 1.4em;

}
.about_team .LinkedIn{
    padding-top: 1em;
}
.about_team img{
    max-width: 200px;
}
.github{
    size: 20px;
}
.person img{
    backface-visibility: hidden;
    transtion: all 1s;
}
.person .back{
     position: absolute;
     top: 0px;
     left: 50%;
     margin-left:-100px;
     transform: rotateY(180deg);
}
.person.hover .front{
    transform: rotateY(180deg);
}
.person.hover .back{
    transform: rotateY(0deg);
}

/* -----------------func---------------- */

.functions {
    background-color: #fff;
    color: #0F3F76;
    padding:30px 0px;
}

.functions-element {
    text-align: center;
    padding: 30px;
}

.functions-element span {
    font-size: 4em;
    padding-bottom: 30px;
}

/*----------------------ADD INFO ABOUT PRODUCT-----------*/

section.add_info {
    background: #0F3F76;
    color: #fbfdff;
    justify-content: center;
    padding: 3rem 2rem 3rem 3rem;
}

section.add_info
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
    margin: 20px 0;
    display: block;
}

section.add_info span {
    font-size: 4rem;
    margin-right: 2rem;
}
@media screen and (max-width: 768px) {
    section.add_info,
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8 {
        margin-bottom: 10px;
    }
}

/* -----------------Footer/form---------------- */

.col-centered{
    margin: 0 auto;
    float: none;
}

.footergroup {
    background-color: #0F3F76;
    margin-top: 20px;
}

.contact {
    padding: 50px 50px 0px 50px;
    color: white;
}
.contact h1 {
    font-size: 2.6em;
    padding-bottom: 15px;
    font-weight: 300;
    text-align: center;
}
.contact p {
    padding: 15px;
    line-height: 18px;
    font-weight: 300;
    text-align: center;
    font-size: 1.2em;
}

.btn-default {
    color: #333;
    background-color: #FFFFFF;
    border-color: #b4b4b4;
}

.smicon {
    max-height: 60px;
}

.footergroup li {
    display: inline;
}

.input-group {
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 300px;
}

.adres {
    background-color: #0F3F76;
    font-size: 1em;
    text-align: center;
    color: white;
    margin: 10px;
}

.adres p {
    padding-top: 20px;
    border-top: 1px solid rgba(3, 166, 135, 0.82);
}
